@import "tailwindcss";

@theme {
  --color-nubank-dark: #4C1D95;
  --color-nubank-light: #7C3AED;
  --color-nubank-gray: #F5F0FF;
  --color-nubank-gray-dark: #6B7280;
  
  --font-family-sans: "Inter", "Roboto", sans-serif;
}

@layer base {
  body {
    @apply bg-[#F0EBFF] text-zinc-900;
  }
}
