@import "tailwindcss";

@theme {
  --color-nubank-dark: #530082;
  --color-nubank-light: #8A05BE;
  --color-nubank-gray: #F0F1F5;
  --color-nubank-gray-dark: #737380;
  
  --font-family-sans: "Inter", "Roboto", sans-serif;
}

@layer base {
  body {
    @apply bg-nubank-gray text-zinc-900;
  }
}
